{% extends "layout.njk" %}
{% block content %}
<div class="sg-two-thirds">
  <h1 class="sg-heading-l">{{ title }}</h1>
  <p>{{ message }}</p>
  <p><a href="/">Go to the SmartGrant homepage</a></p>
</div>
{% endblock %}
